/* Write your CSS here */
.product-item-details-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.product-details-success-view {
  width: 80%;
  max-width: 550px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

.product-image {
  border-radius: 16px;
  flex-shrink: 0;
}

.product-name {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.rating-and-reviews-count {
  display: flex;
  align-items: center;
}

.reviews-count {
  color: #12022f;
  font-family: 'Open Sans';
  font-size: 14px;
  margin-left: 1.3;
}

.label-value-container {
  display: flex;
  margin-bottom: 16px;
}

.label {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.value {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
  margin-left: 8px;
  margin-bottom: 0;
}

.horizontal-line {
  display: flex;
  align-items: center;
}

.quantity-controller-button {
  background-color: transparent;
  border: none;
}

.quantity-controller-icon {
  color: #616e7c;
  width: 16px;
  height: 16px;
}

.quantity {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  margin-left: 24px;
  margin-right: 24px;
}

.button {
  color: wheat;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.add-to-cart-btn {
  font-size: 12px;
  margin-bottom: 32px;
}

.similar-products-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.similar-products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

.product-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.product-details-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.failure-view-image {
  width: 300px;
  height: 165px;
}

.product-not-found-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  margin-top: 48px;
}
